<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information des Cibles</title>
</head>
<body>
    <h1>Informations des Cibles</h1>
    {% for host in groups['cibles'] %}
    <h2>Host: {{ hostvars[host].ansible_hostname }}</h2>
    <p>FQDN: {{ hostvars[host].ansible_fqdn }}</p>
    <p>NIC IPv4: {{ hostvars[host].ansible_default_ipv4.address }}</p>
    <p>Mountpoints:</p>
    <ul>
        {% for mount in hostvars[host].ansible_mounts %}
        <li>{{ mount.mount }} ({{ mount.fstype }})</li>
        {% endfor %}
    </ul>
    {% endfor %}
</body>
</html>
